doctype html
html
  head
    meta(charset="utf-8")
    block title
      title The Default Title 2
  body
    block content
    //extends layout and block content will add an extra html code on top of the base layout